body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}
html {
    -webkit-text-size-adjust: 100%;
}

body,
html {
    height: 100%;
}
body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif;
}
.bg-img {
    /* background-image: url("Images/52e1f088e9593c7fc0086bd83a5532f1.jpeg"); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0.21, 0.21, 0.21, 0)), url(bg.png);
    width: 100%;
    height: 100%;
    z-index: 110;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Position the navbar container inside the image */
.container {
    display: flex;
    /* justify-content: center; */
    position: relative;
    z-index: 999999;
}

/* The navbar */
.topnav {
    overflow: visible;
    background-color: transparent;
    display: flex;
}

/* Navbar links */
.topnav a {
    /* float: left; */
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

ul {
    list-style: none;
    z-index: 1000;
}

a {
    text-decoration: none;
    z-index: 1000;
}

.overlay {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    /* background-color: white; */
}

.logo-container {
    flex: 3;
    display: flex;
    margin-top: 5px;
    margin-left: 30px;
    line-height: 64px;
    height: 64px;
    text-decoration: none;
    align-items: center;
}

.nav-btn {
    flex: 3;
    display: flex;
    justify-content: center;
    margin-left: 200px;
    line-height: 64px;
    /* height: 64px; */
    margin-top: -20px;
}

.nav-links {
    flex: 3;
}

.log-sign {
    display: flex;
    width: 30rem;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.logo {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 3rem;
}

.logo span {
    font-weight: 300;
}

.btn {
    display: inline-block;
    padding: 0.5rem 0.9rem;
    font-size: 0.8rem;
    border: 2px solid #fff;
    border-radius: 2rem;
    line-height: 1;
    margin: 0 0.2rem;
    transition: 0.3s;
    text-transform: uppercase;
}

.btn.solid,
.btn.transparent:hover {
    background-color: #2962ff;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}

.btn.transparent,
.btn.solid:hover {
    background-color: transparent;
    color: #fff;
}

.nav-links > ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    position: relative;
}

.nav-link > a {
    line-height: 3rem;
    color: #fff;
    padding: 0.8rem;
    letter-spacing: 1px;
    font-size: 0.95rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
}

.nav-link > a > i {
    margin-left: 0.2rem;
}

.nav-link:hover > a {
    transform: scale(1.1);
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 10rem;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    z-index: 1000;
}

.dropdown ul {
    position: absolute;
    /* z-index: 10000; */
}

.dropdown-link > a {
    display: flex;
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
}

.dropdown-link:hover > a {
    background-color: orangered;
    color: #fff;
}

.dropdown-link:not(:nth-last-child(2)) {
    border-bottom: 1px solid #efefef;
}

.dropdown-link i {
    transform: rotate(-90deg);
}

.arrow {
    position: absolute;
    width: 11px;
    height: 11px;
    top: -5.5px;
    left: 32px;
    background-color: #fff;
    transform: rotate(45deg);
    cursor: pointer;
    transition: 0.3s;
    z-index: 10000;
}

.dropdown-link:first-child:hover ~ .arrow {
    background-color: orangered;
}

.dropdown-link {
    position: relative;
}

.dropdown.second {
    top: 0;
    left: 100%;
    padding-left: 0.8rem;
    cursor: pointer;
    transform: translateX(10px);
}

.dropdown.second .arrow {
    top: 10px;
    left: -5.5px;
}

.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown {
    transform: translate(0, 0);
    opacity: 3;
    pointer-events: auto;
}

.hamburger-menu-container {
    flex: 1;
    display: none;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu div {
    width: 1.6rem;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
    position: relative;
    z-index: 1001;
    transition: 0.5s;
}

.hamburger-menu div:before,
.hamburger-menu div:after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #fff;
    border-radius: 3px;
    transition: 0.5s;
}

.hamburger-menu div:before {
    transform: translateY(-7px);
}

.hamburger-menu div:after {
    transform: translateY(7px);
}

#check {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    z-index: 90000;
    cursor: pointer;
    opacity: 0;
    display: none;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div {
    background-color: transparent;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:before {
    transform: translateY(0) rotate(-45deg);
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:after {
    transform: translateY(0) rotate(45deg);
}

.section-title {
    display: inline-block;
    flex: 3;
}
.section-title .text {
    display: flex;
    font-size: 100px;
    line-height: 80px;
    color: #fff;
    direction: ltr;
    font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif;
    font-weight: 800;
    white-space: nowrap;
    transition: transform 0.2s;
    width: 100%;
}
.text {
    margin-top: 160px;
    margin-left: 120px;
    display: flex;
    /* color: #ddd; */
}
.search {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex;
    margin-top: 60px;
    margin-left: 120px;
    margin-right: 210px;
    border: 1px solid white;
    border-radius: 10px;
}
.search form {
    color: white;
    display: flex;
    padding: 2px;

    border-radius: 30px;
}
.search input[type="search"] {
    border: none;
    width: 400px;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 30px;
    color: inherit;
    border-radius: 20px;
}

.search input[type="search"]::placeholder {
    color: white;
}

.search button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 60px;
    height: 50px;
    margin-left: 10px;
    padding: 0;
    border: white;
    border-radius: inherit;
    background: white
        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='20' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
        no-repeat center;
    cursor: pointer;
    opacity: 0.7;
}

.search button[type="submit"]:hover {
    opacity: 1;
}
.button {
    margin-left: 110px;
    margin-top: 50px;
}
.button .btn-flex {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    justify-items: center;
    text-align: center;
    font-size: 20px;
    color: white;
    padding-top: 15px;
    background-color: #15171d;
    opacity: 0.8;
}

.content-dW19 {
    align-items: center;
    color: rgb(92, 88, 88);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 20px 0;
    text-align: center;
    background-color: black;
}
.title-dw {
    font-feature-settings: "tnum" on, "lnum" on;
    font-family: EuclidCircularSemibold, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.02em;
    line-height: 40px;
    margin: 12px 0 24px;
    color: white;
}
.Description-dw {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 24px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.size-xlarge-p9ma7wH8:not(.size-xlarge-p9ma7wH8.icon-only-p9ma7wH8) {
    padding: 0 31px;
}
.color-brand-p9ma7wH8.variant-primary-p9ma7wH8 {
    --ui-lib-button-default-color-bg: #2962ff;
    --ui-lib-button-default-color-border: #2962ff;
    --ui-lib-button-default-color-content: #fff;
}
.size-xlarge-p9ma7wH8 {
    outline: none;
    overflow: visible;
    position: relative;
}
.size-xlarge-p9ma7wH8 {
    border-radius: 28px;
    border-width: 1px;
    height: 56px;
}
.color-brand-p9ma7wH8,
.color-gray-p9ma7wH8,
html.theme-dark .color-brand-p9ma7wH8,
html.theme-dark .color-gray-p9ma7wH8 {
    --ui-lib-button-default-color-focus-outline: #2962ffcc;
}
.round-button-p9ma7wH8 {
    align-items: center;
    background-color: var(--ui-lib-button-color-bg, var(--ui-lib-button-default-color-bg));
    border-color: var(--ui-lib-button-color-border, var(--ui-lib-button-default-color-border));
    border-style: solid;
    box-sizing: border-box;
    color: var(--ui-lib-button-color-content, var(--ui-lib-button-default-color-content));
    display: inline-flex;
    justify-content: center;
    max-width: 100%;
    position: relative;
}
.size-xlarge-p9ma7wH8 .content-p9ma7wH8,
.size-xxlarge-p9ma7wH8 .content-p9ma7wH8 {
    font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif;
    line-height: 24px;
}
.size-xlarge-p9ma7wH8 .content-p9ma7wH8 {
    font-feature-settings: "tnum" on, "lnum" on;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}
.content-p9 {
    align-items: center;
    display: inline-flex;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.color-brand-p9ma7wH8.variant-primary-p9ma7wH8 {
    --ui-lib-button-default-color-bg: #2962ff;
    --ui-lib-button-default-color-border: #2962ff;
    --ui-lib-button-default-color-content: #fff;
}
.round-button-p9ma7wH8 {
    align-items: center;
    background-color: var(--ui-lib-button-color-bg, var(--ui-lib-button-default-color-bg));
    border-color: var(--ui-lib-button-color-border, var(--ui-lib-button-default-color-border));
    border-style: solid;
    box-sizing: border-box;
    color: var(--ui-lib-button-color-content, var(--ui-lib-button-default-color-content));
    display: inline-flex;
    justify-content: center;
    max-width: 100%;
    position: relative;
    cursor: pointer;
}
.video-oW19cqIy {
    margin-top: 48px;
    max-width: 100%;
}
.title-bmVRp5PX {
    font-feature-settings: "tnum" on, "lnum" on;
    font-family: EuclidCircularSemibold, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.02em;
    line-height: 40px;
    margin-bottom: var(--v-rhythm-header-3-space);
}
.container-bmVRp5PX {
    color: #131722;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
}
.description-bmVRp5PX {
    font-feature-settings: "tnum" on, "lnum" on;
    font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
}
.title-small-sYCFK9Bm {
    font-feature-settings: "tnum" on, "lnum" on;
    font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}
.title-sYCFK9Bm {
    color: inherit;
    display: inline;
    word-break: break-all;
}
.subtitle-alnYXDZ9 {
    font-feature-settings: "tnum" on, "lnum" on;
    color: #131722;
    font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.subtitle-alnYXDZ9,
.title-alnYXDZ9 {
    margin-bottom: 24px;
}
.cards-tCC0nn5v {
    --filmstrip-visible-items: 2;
    --filmstrip-item-min-width: 272px;
    --filmstrip-gap: 16px;
    --filmstrip-scroll-btn-top: calc(
        (100vw - var(--adaptive-mf-container-padding) - var(--filmstrip-gap) * (var(--filmstrip-visible-items) - 1)) /
            var(--filmstrip-visible-items) / 2 / 2 + 8px
    );
}
.container-DlfZj3c3 .link-DlfZj3c3 {
    display: none;
    width: fit-content;
}
@media screen and (min-width: 568px) {
    .container-DlfZj3c3 .link-DlfZj3c3 {
        display: inline-flex;
    }
}
.container-DlfZj3c3 .button-DlfZj3c3 {
    display: flex;
}
@media screen and (min-width: 568px) {
    .container-DlfZj3c3 .button-DlfZj3c3 {
        display: none;
    }
}
.title-DlfZj3c3 {
    white-space: pre-wrap;
}
.arrowIcon-DlfZj3c3 {
    display: inline-flex;
    vertical-align: middle;
}
.container-alnYXDZ9 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
}
.subtitle-alnYXDZ9,
.title-alnYXDZ9 {
    margin-bottom: 24px;
}
.titleWithSubtitle-alnYXDZ9 {
    margin-bottom: 8px;
}
.subtitle-alnYXDZ9 {
    font-feature-settings: "tnum" on, "lnum" on;
    color: #131722;
    font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
html.theme-dark .subtitle-alnYXDZ9 {
    color: #d1d4dc;
}
.more-alnYXDZ9 {
    margin-top: 24px;
}
.preview-9LOIToJf.ratio2by1-9LOIToJf {
    aspect-ratio: 2/1;
}

.preview-9LOIToJf,
.preview-9LOIToJf:before {
    border-radius: var(--ui-lib-image-card-preview-border-radius);
    border-top-left-radius: ;
    border-top-right-radius: ;
    border-bottom-right-radius: ;
    border-bottom-left-radius: ;
}

.preview-9LOIToJf {
    align-items: center;
    display: flex;
    justify-content: center;
    order: -1;
    position: relative;
}

.card-wcFq5DAF {
    --ui-lib-image-card-preview-border-radius: 8px;
    color: #131722;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    word-break: break-word;
}
.cards-tCC0nn5v {
    --filmstrip-visible-items: 2;
    --filmstrip-item-min-width: 272px;
    --filmstrip-gap: 16px;
    --filmstrip-scroll-btn-top: calc(
        (100vw - var(--adaptive-mf-container-padding) - var(--filmstrip-gap) * (var(--filmstrip-visible-items) - 1)) /
            var(--filmstrip-visible-items) / 2 / 2 + 8px
    );
}

.container-cGvBluIh {
    --filmstrip-container-horizontal-offset: var(--adaptive-mf-container-padding);
    margin: 0 calc(var(--filmstrip-container-horizontal-offset) * -1);
    max-width: calc(100% + var(--filmstrip-container-horizontal-offset) * 2);
    position: relative;
    width: calc(100% + var(--filmstrip-container-horizontal-offset) * 2);
}

.title-WhT3GQIm.stretched-link-WhT3GQIm:before,
.title-WhT3GQIm.stretched-outline-WhT3GQIm:before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.title-WhT3GQIm.stretched-link-WhT3GQIm,
.title-WhT3GQIm.stretched-outline-WhT3GQIm {
    outline-color: initial;
}
.title-WhT3GQIm.stretched-link-WhT3GQIm {
    color: rgb(216, 213, 208);
}
.title-WhT3GQIm.stretched-link-WhT3GQIm,
.title-WhT3GQIm.stretched-outline-WhT3GQIm {
    outline: none;
    overflow: visible;
    position: static;
}
.title-WhT3GQIm {
    font-feature-settings: "tnum" on, "lnum" on;
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    margin-top: 8px;
    width: fit-content;
}
a {
    text-decoration-color: initial;
}
.card-wcFq5DAF {
    --ui-lib-image-card-preview-border-radius: 8px;
    color: rgb(216, 213, 208);
}
.cards-tCC0nn5v {
    --filmstrip-visible-items: 2;
    --filmstrip-item-min-width: 272px;
    --filmstrip-gap: 16px;
    --filmstrip-scroll-btn-top: calc(
        (100vw - var(--adaptive-mf-container-padding) - var(--filmstrip-gap) * (var(--filmstrip-visible-items) - 1)) /
            var(--filmstrip-visible-items) / 2 / 2 + 8px
    );
}
.items-cGvBluIh {
    display: flex;
    overflow: scroll;
    overscroll-behavior-x: contain;
    scrollbar-width: none;
}
.filmstripItems-QOCvhsso {
    margin: 0 -8px;
    padding: 6px 0;
}

.cards-tCC0nn5v {
    --filmstrip-visible-items: 2;
    --filmstrip-item-min-width: 272px;
    --filmstrip-gap: 16px;
    --filmstrip-scroll-btn-top: calc(
        (100vw - var(--adaptive-mf-container-padding) - var(--filmstrip-gap) * (var(--filmstrip-visible-items) - 1)) /
            var(--filmstrip-visible-items) / 2 / 2 + 8px
    );
}

.paragraph-ou8qRW7R {
    font-feature-settings: "tnum" on, "lnum" on;
    font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 8px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.card-wcFq5DAF {
    --ui-lib-image-card-preview-border-radius: 8px;
    color: #131722;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    word-break: break-word;
}

.title-sYCFK9Bm {
    color: inherit;
}

.title-small-sYCFK9Bm {
    font-feature-settings: "tnum" on, "lnum" on;
    font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.container-YWq5raM1 {
    --adaptive-mf-container-padding: 20px;
    --adaptive-mf-container-max-width: 2560px;
}

.container-alnYXDZ9 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 14px;
}
.container-YWq5raM1 {
    --adaptive-mf-container-padding: 20px;
    --adaptive-mf-container-max-width: 2560px;
}

.button-oVcEZzq1.isSelected-oVcEZzq1,
.button-oVcEZzq1:active,
html.theme-dark .button-oVcEZzq1.isSelected-oVcEZzq1,
html.theme-dark .button-oVcEZzq1:active {
    background-color: rgba(20, 78, 175, 0.18);
}

.button-oVcEZzq1 {
    background-image: none;
    background-color: initial;
    border-color: initial;
    color: rgb(216, 213, 208);
}
.medium-oVcEZzq1,
.small-oVcEZzq1 {
    font-style: normal;
    font-weight: 400;
}

.medium-oVcEZzq1 {
    font-size: 16px;
    height: 34px;
    line-height: 24px;
    min-width: 34px;
    padding: 0 8px;
}
.button-oVcEZzq1 {
    outline: none;
    overflow: visible;
    position: relative;
}

.button-oVcEZzq1 {
    align-items: center;
    background: none;
    border: none;
    border-radius: 6px;
    color: #131722;
    cursor: default;
    display: inline-flex;
    justify-content: center;
}
.wrap-sfzcrPlH {
    direction: ltr;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.tabs-AMXsejLP > :not(:first-child) {
    margin-left: 12px;
}
.tabs-AMXsejLP {
    display: inline-block;
    margin: 0 var(--button-tabs-horizontal-scroll-padding,0);
    white-space: nowrap;
}
.container-YWq5raM1 {
    --adaptive-mf-container-padding: 20px;
    --adaptive-mf-container-max-width: 2560px;
}
.button-oVcEZzq1 {
    background-image: none;
    background-color: initial;
    border-color: initial;
    color: rgb(216, 213, 208);
}
.medium-oVcEZzq1 {
    font-size: 16px;
    height: 34px;
    line-height: 24px;
    min-width: 34px;
    padding: 0 8px;
}

.button-oVcEZzq1 {
    outline: none;
    overflow: visible;
    position: relative;
}
.button-oVcEZzq1 {
    align-items: center;
    background: none;
    border: none;
    border-radius: 6px;
    color: #131722;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
}
.items-cGvBluIh {
    display: flex;
    overflow: scroll;
    overscroll-behavior-x: contain;
    scrollbar-width: none;
}

.items-cGvBluIh > :not(.internal-cGvBluIh) {
    flex-shrink: 0;
    min-width: var(--filmstrip-item-min-width);
    width: calc((100% - var(--filmstrip-gap) * (var(--filmstrip-visible-items) - 1)) / var(--filmstrip-visible-items));
}
.container-KTMLPFH1:not(.containerHidden-KTMLPFH1) {
    margin-left: 0 !important;
}
.container-KTMLPFH1:not(:last-child) {
    margin-bottom: 8px;
}

.container-xHeYEeHL {
    align-items: center;
    border-radius: 16px;
    box-sizing: border-box;
    color: #131722;
    display: grid;
    gap: 4px 12px;
    grid-template-areas:
        "logo titleContainer quotes"
        "logo tickerBoxContainer quotes";
    grid-template-columns: 36px 1fr min-content;
    padding: 8px;
    transition: color 0.35s ease;
}

.container-KTMLPFH1 {
    cursor: default;
}


.filmstripItems-z5i0Rz2d {
    flex-direction: column;
}
.items-cGvBluIh {
    display: flex;
    overflow: scroll;
    overscroll-behavior-x: contain;
    scrollbar-width: none;
}

.filmstripItems-HkikSGeg {
    margin: -8px;
    padding: 8px;
}

.controls-pUaXgcVA {
    display: none;
}

.container-YWq5raM1 {
    --adaptive-mf-container-padding: 20px;
    --adaptive-mf-container-max-width: 2560px;
}

